<div class="container">
    <h1 class="title">¡Bienvenido! Estos son los productos que tenemos disponibles.</h1>

    <div class="products-container">
        {{#if showProducts}}
            {{#each products}}
                <div class="card">
                    <p class="product-features">Nombre: {{this.name}}</p>
                    <p class="product-features">Características: {{this.description}}</p>
                    <p class="product-features">Categoría: {{this.category}}</p>
                    <p class="product-features">Precio: {{this.price}}</p>
                    <p class="product-features">Disponible: {{this.stock}} unidades</p>
                </div>
            {{/each}}
        {{else}}
            <p class="error-text">¡Lo sentimos! Temporalmente no podemos mostrarte nuestros productos. Regresa más tarde. 😔</p>
        {{/if}}
    </div>
</div>


